<footer>
    <div class="footer-row d-flex">
        <div class="footer-col footer-about d-flex">
            <a href="/" class="logo">
                <svg viewBox="0 0 2931 400" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M552.115 112.167L599.926 280.208L644.942 112.167H703.903L747.535 280.669L796.269 112.167H863.101L784.656 350.757H715.03L673.244 206.865L630.536 350.757H560.91L482.926 112.167H552.115Z" fill="white"/>
                    <path d="M1187.59 125.284C1205.69 115.227 1226.66 110.198 1250.49 110.198C1274.64 110.198 1295.9 114.911 1314.31 124.361C1332.72 133.811 1347.11 147.1 1357.48 164.276C1367.85 181.452 1373.17 201.64 1373.49 224.84C1373.49 233.198 1372.88 240.632 1371.64 247.118H1198.5V248.964C1200.06 266.286 1205.62 279.915 1215.22 289.802C1224.81 299.714 1237.95 304.646 1254.67 304.646C1267.98 304.646 1279.04 301.779 1287.85 296.07C1296.67 290.337 1302.48 281.907 1305.27 270.78H1369.8C1367.32 286.571 1361.29 300.807 1351.7 313.489C1342.1 326.17 1329.42 336.155 1313.63 343.419C1297.84 350.683 1279.74 354.327 1259.31 354.327C1232.71 354.327 1209.73 349.371 1190.39 339.483C1171.05 329.571 1156.18 315.432 1145.83 297.018C1135.46 278.603 1130.28 257.176 1130.28 232.736C1130.28 207.981 1135.31 186.383 1145.37 167.993C1155.4 149.578 1169.49 135.342 1187.59 125.284ZM1290.19 170.762C1280.44 162.867 1268.13 158.931 1253.28 158.931C1239.05 158.931 1227.05 163.037 1217.3 171.224C1207.56 179.435 1201.76 190.489 1199.89 204.409H1308.04C1305.88 189.882 1299.93 178.658 1290.19 170.762Z" fill="white"/>
                    <path d="M1561.72 295.512C1551.35 276.951 1546.17 255.597 1546.17 231.449C1546.17 207.301 1551.35 185.971 1561.72 167.386C1572.09 148.826 1586.79 134.516 1605.81 124.459C1624.84 114.401 1646.89 109.372 1671.97 109.372C1697.04 109.372 1719.07 114.401 1738.12 124.459C1757.14 134.516 1771.84 148.826 1782.21 167.386C1792.58 185.947 1797.76 207.301 1797.76 231.449C1797.76 255.889 1792.58 277.316 1782.21 295.731C1771.84 314.145 1757.14 328.381 1738.12 338.439C1719.1 348.497 1697.04 353.526 1671.97 353.526C1646.89 353.526 1624.86 348.497 1605.81 338.439C1586.79 328.381 1572.09 314.072 1561.72 295.512ZM1731.39 231.449C1731.39 211.018 1726.04 194.474 1715.38 181.792C1704.71 169.111 1690.23 162.77 1671.97 162.77C1654.01 162.77 1639.7 169.111 1629.04 181.792C1618.37 194.474 1613.03 211.042 1613.03 231.449C1613.03 251.88 1618.37 268.424 1629.04 281.106C1639.7 293.787 1654.04 300.128 1671.97 300.128C1690.23 300.128 1704.69 293.787 1715.38 281.106C1726.04 268.424 1731.39 251.88 1731.39 231.449Z" fill="white"/>
                    <path d="M1827.18 295.512C1816.8 276.951 1811.63 255.597 1811.63 231.449C1811.63 207.301 1816.8 185.971 1827.18 167.386C1837.55 148.826 1852.25 134.516 1871.27 124.459C1890.29 114.401 1912.35 109.372 1937.42 109.372C1962.49 109.372 1984.53 114.401 2003.58 124.459C2022.6 134.516 2037.3 148.826 2047.67 167.386C2058.04 185.947 2063.22 207.301 2063.22 231.449C2063.22 255.889 2058.04 277.316 2047.67 295.731C2037.3 314.145 2022.6 328.381 2003.58 338.439C1984.55 348.497 1962.49 353.526 1937.42 353.526C1912.35 353.526 1890.32 348.497 1871.27 338.439C1852.22 328.381 1837.53 314.072 1827.18 295.512ZM1996.82 231.449C1996.82 211.018 1991.48 194.474 1980.81 181.792C1970.15 169.111 1955.67 162.77 1937.4 162.77C1919.45 162.77 1905.14 169.111 1894.47 181.792C1883.81 194.474 1878.46 211.042 1878.46 231.449C1878.46 251.88 1883.81 268.424 1894.47 281.106C1905.14 293.787 1919.47 300.128 1937.4 300.128C1955.67 300.128 1970.12 293.787 1980.81 281.106C1991.48 268.424 1996.82 251.88 1996.82 231.449Z" fill="white"/>
                    <path d="M956.997 112.167V350.757H885.087V223.239L950.122 164.18L885.087 164.86V112.167H956.997Z" fill="white"/>
                    <path d="M2714.17 353.526C2689.61 353.526 2668.09 348.545 2649.67 338.561C2631.23 328.576 2617.04 314.364 2607.06 295.949C2597.07 277.51 2592.09 256.326 2592.09 232.372C2592.09 208.103 2597.1 186.845 2607.06 168.552C2617.04 150.283 2631.33 136.144 2649.91 126.159C2668.5 116.175 2690.07 111.194 2714.66 111.194C2746.29 111.194 2772.09 119.26 2792.06 135.391C2812.03 151.522 2824.32 173.873 2828.91 202.418H2761.64C2758.87 190.757 2753.36 181.452 2745.05 174.553C2736.76 167.653 2726.46 164.179 2714.17 164.179C2697.29 164.179 2683.75 170.471 2673.62 183.08C2663.49 195.664 2658.42 212.111 2658.42 232.372C2658.42 252.633 2663.49 269.08 2673.62 281.664C2683.75 294.249 2697.29 300.565 2714.17 300.565C2726.75 300.565 2737.27 297.042 2745.73 289.973C2754.18 282.903 2759.62 273.234 2762.08 260.942H2828.89C2824.59 289.803 2812.37 312.469 2792.25 328.892C2772.14 345.314 2746.12 353.526 2714.17 353.526Z" fill="white"/>
                    <path d="M2891.54 276.587C2902.6 276.587 2911.9 280.28 2919.41 287.641C2926.94 295.002 2930.7 304.234 2930.7 315.287C2930.7 326.341 2926.94 335.475 2919.41 342.691C2911.88 349.906 2902.6 353.526 2891.54 353.526C2880.17 353.526 2870.82 349.906 2863.43 342.691C2856.05 335.475 2852.38 326.341 2852.38 315.287C2852.38 303.918 2856.07 294.637 2863.43 287.422C2870.79 280.207 2880.2 276.587 2891.54 276.587Z" fill="white"/>
                    <path d="M2287.77 111.681V350.271H2215.86V222.752L2280.89 163.694L2215.86 164.398V111.681H2287.77Z" fill="white"/>
                    <path d="M1539.83 112.651V171.588H1537.26C1535.39 171.442 1533.49 171.369 1531.57 171.369C1529.65 171.369 1527.76 171.442 1525.89 171.588C1489.03 174.479 1460 205.332 1460 242.915V350.755H1394.53V246.049C1394.53 198.19 1419.63 156.21 1457.38 132.523C1474.09 122.053 1493.28 115.178 1513.86 112.943C1514.61 112.845 1515.34 112.772 1516.12 112.7C1516.58 112.651 1517.04 112.627 1517.51 112.578C1518.06 112.53 1518.62 112.481 1519.18 112.457C1519.67 112.408 1520.15 112.384 1520.61 112.36C1521.27 112.335 1521.93 112.287 1522.58 112.262C1522.97 112.238 1523.38 112.238 1523.8 112.214C1524.33 112.189 1524.87 112.189 1525.4 112.165C1525.94 112.165 1526.47 112.141 1527.03 112.141C1527.49 112.141 1527.95 112.141 1528.41 112.141H1528.68C1532.45 112.165 1536.16 112.335 1539.83 112.651Z" fill="white"/>
                    <path d="M2560.27 221.731V350.27H2495.31V229.092C2495.31 208.515 2490.69 192.53 2481.49 181.185C2472.74 170.398 2460.52 164.738 2444.85 164.203C2429.18 164.738 2416.96 170.398 2408.22 181.185C2399.01 192.554 2394.39 208.515 2394.39 229.092V350.27H2329.43V221.731C2329.43 184.634 2337.23 157.377 2352.85 139.934C2357.2 135.512 2361.89 131.382 2366.84 127.617C2372.99 122.952 2379.55 118.822 2386.47 115.3C2404.01 106.408 2423.84 101.379 2444.85 101.379C2465.87 101.379 2485.69 106.408 2503.23 115.3C2510.13 118.798 2516.69 122.928 2522.81 127.568C2527.79 131.334 2532.5 135.464 2536.88 139.934C2552.47 157.377 2560.27 184.634 2560.27 221.731Z" fill="white"/>
                    <path d="M1110.97 296.337V351.581H1056.68C1012.9 351.581 990.183 330.518 988.531 288.368V46.1584H1053.88V112.991H1108.2V168.235H1053.88V272.674C1053.88 281.032 1055.65 287.081 1059.23 290.773C1062.8 294.49 1068.75 296.361 1077.11 296.361H1110.97V296.337Z" fill="white"/>
                    <path d="M5.04177 82.6488L201.288 1.16717C203.231 0.365469 205.393 -0.023222 207.555 0.00107181H207.604C209.475 0.0253657 211.297 0.389766 212.9 1.09429L358.517 63.1408L411.308 85.6369C411.381 85.6612 411.43 85.6855 411.478 85.7341C412.328 86.1957 413.081 86.7302 413.737 87.3132C414.369 87.8963 414.15 88.7465 413.276 89.1109L265.375 150.526L208.138 174.285L207.871 174.164L150.27 149.627L2.15081 86.5115C1.27624 86.1228 1.05758 85.2725 1.68923 84.6895C2.63669 83.8635 3.7542 83.1833 5.04177 82.6488ZM207.531 125.819L207.823 125.94V125.698L298.342 88.1149C299.435 87.6533 299.435 86.5115 298.342 86.0257L207.677 47.3984C207.167 47.1797 206.535 47.1797 206.025 47.3984L116.065 84.7624C114.971 85.2239 114.971 86.3658 116.065 86.8516L207.531 125.819Z" fill="#337AE2"/>
                    <path d="M0.86377 134.151L47.3865 153.926L104.38 178.147L150.004 197.534L206.657 221.633L206.997 221.755L264.428 198.117L414.248 136.508L414.491 112.457L414.637 98.2692L414.734 88.6488L253.156 155.093L207.459 173.92L207.167 174.042V173.799L161.835 154.51H161.811L104.841 130.289L1.34964 86.3167L0.86377 134.151Z" fill="white"/>
                    <path d="M414.003 226.831L264.669 287.906L206.922 311.519L149.467 286.813L0.618796 222.798L0.351562 174.235L207.214 263.199L413.736 178.754L414.003 226.831Z" fill="white"/>
                    <path d="M414.003 315.312L264.669 376.386L206.922 400L149.467 375.293L0.618796 311.279L0.351562 262.715L207.214 351.679L413.736 267.234L414.003 315.312Z" fill="white"/>
                </svg>
            </a>
            <p>Witeroo Inc. is a technology company that provides consulting, technical management, industrial automation, cloud solutions and software development services to clients and businesses in diverse industries.</p>
            <div class="socials d-flex">
                <a href="#" class="social-icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.6667 5.33398C11.7275 5.33398 12.7449 5.75541 13.4951 6.50556C14.2452 7.2557 14.6667 8.27312 14.6667 9.33398V14.0007H12V9.33398C12 8.98036 11.8595 8.64122 11.6095 8.39118C11.3594 8.14113 11.0203 8.00065 10.6667 8.00065C10.313 8.00065 9.9739 8.14113 9.72386 8.39118C9.47381 8.64122 9.33333 8.98036 9.33333 9.33398V14.0007H6.66666V9.33398C6.66666 8.27312 7.08809 7.2557 7.83824 6.50556C8.58838 5.75541 9.6058 5.33398 10.6667 5.33398V5.33398Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4 6H1.33334V14H4V6Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M2.66667 4.00065C3.40305 4.00065 4 3.4037 4 2.66732C4 1.93094 3.40305 1.33398 2.66667 1.33398C1.93029 1.33398 1.33334 1.93094 1.33334 2.66732C1.33334 3.4037 1.93029 4.00065 2.66667 4.00065Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                <a href="https://www.twitter.com/witerooinc" target="_blank" class="social-icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.3333 2.00084C14.6949 2.45116 13.9881 2.79558 13.24 3.02084C12.8385 2.55918 12.3049 2.23197 11.7114 2.08346C11.1178 1.93495 10.493 1.97231 9.92139 2.19048C9.34978 2.40865 8.85896 2.79711 8.51532 3.30332C8.17168 3.80953 7.9918 4.40907 8 5.02084V5.68751C6.82842 5.71789 5.66752 5.45805 4.62067 4.93114C3.57383 4.40423 2.67355 3.6266 2 2.66751C2 2.66751 -0.666665 8.66751 5.33333 11.3342C3.96035 12.2662 2.32477 12.7335 0.666668 12.6675C6.66667 16.0008 14 12.6675 14 5.00084C14 4.81418 13.98 4.62751 13.9467 4.44751C14.6271 3.77651 15.1072 2.92932 15.3333 2.00084V2.00084Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                <a href="https://www.instagram.com/witeroo/" target="_blank" class="social-icon">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.9017 2.2793H5.23503C3.39408 2.2793 1.90169 3.77168 1.90169 5.61263V12.2793C1.90169 14.1202 3.39408 15.6126 5.23503 15.6126H11.9017C13.7426 15.6126 15.235 14.1202 15.235 12.2793V5.61263C15.235 3.77168 13.7426 2.2793 11.9017 2.2793Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.235 8.52551C11.3173 9.08034 11.2225 9.64699 10.9642 10.1449C10.7059 10.6427 10.2971 11.0465 9.79611 11.2986C9.2951 11.5508 8.72732 11.6386 8.17355 11.5495C7.61978 11.4604 7.1082 11.1989 6.71159 10.8023C6.31497 10.4057 6.05351 9.8941 5.9644 9.34032C5.8753 8.78655 5.96307 8.21878 6.21524 7.71776C6.46742 7.21675 6.87115 6.80801 7.36902 6.54967C7.86688 6.29134 8.43353 6.19657 8.98836 6.27885C9.55431 6.36277 10.0783 6.62649 10.4828 7.03105C10.8874 7.43561 11.1511 7.95957 11.235 8.52551Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.235 5.2793H12.2417" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="footer-col">
            <h5>Navigation</h5>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/#services">Our Services</a></li>
                <li><a href="/#business">Business</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="https://blog.witeroo.com">Blog</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h5>Terms & Privacy</h5>
            <ul class="nav">
                <li><a href="/terms">Terms & Conditions</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h5>Contact</h5>
            <ul class="nav">
                <li><a href="tel: +1(519)-991-1920">+1(519)-991-1920</a></li>
                <li><a href="mailto: info@witeroo.com">info@witeroo.com</a></li>
                <li><a href="#">180 Northfield Dr. W. ON. Waterloo. N2L 0C7 Canada.</a></li>
            </ul>
        </div>
    </div>
    <p class="copy">&copy; Copyright 2022 All rights reserved | Witeroo Inc.</p>
</footer>
<script src="/js/jquery-2.2.4.min.js"></script>
<script src="/js/main.js"></script>