<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Witeroo Inc. |
        <%= pageTitle %>
    </title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <nav class="main-nav d-flex p-relative">
        <a href="/" class="logo">
            <svg viewBox="0 0 2931 400" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M551.763 112.167L599.573 280.207L644.59 112.167H703.551L747.183 280.669L795.917 112.167H862.749L784.304 350.757H714.678L672.892 206.864L630.184 350.757H560.558L482.574 112.167H551.763Z" fill="#01040A"/>
                <path d="M1187.24 125.284C1205.34 115.227 1226.31 110.198 1250.14 110.198C1274.29 110.198 1295.54 114.911 1313.96 124.361C1332.37 133.811 1346.75 147.1 1357.13 164.276C1367.5 181.452 1372.82 201.64 1373.14 224.84C1373.14 233.198 1372.53 240.632 1371.29 247.118H1198.15V248.964C1199.7 266.286 1205.27 279.915 1214.86 289.802C1224.46 299.714 1237.6 304.646 1254.32 304.646C1267.63 304.646 1278.68 301.779 1287.5 296.07C1296.32 290.337 1302.13 281.907 1304.92 270.78H1369.44C1366.97 286.571 1360.94 300.807 1351.35 313.489C1341.75 326.17 1329.07 336.155 1313.28 343.419C1297.49 350.683 1279.39 354.327 1258.96 354.327C1232.35 354.327 1209.37 349.371 1190.03 339.483C1170.7 329.571 1155.83 315.432 1145.48 297.018C1135.11 278.603 1129.93 257.176 1129.93 232.736C1129.93 207.981 1134.96 186.383 1145.02 167.993C1155.05 149.578 1169.14 135.342 1187.24 125.284ZM1289.83 170.762C1280.09 162.867 1267.78 158.931 1252.93 158.931C1238.7 158.931 1226.69 163.037 1216.95 171.224C1207.21 179.435 1201.4 190.489 1199.53 204.409H1307.69C1305.53 189.882 1299.58 178.658 1289.83 170.762Z" fill="#01040A"/>
                <path d="M1561.37 295.512C1550.99 276.951 1545.82 255.597 1545.82 231.449C1545.82 207.301 1550.99 185.971 1561.37 167.386C1571.74 148.825 1586.44 134.516 1605.46 124.459C1624.48 114.401 1646.54 109.372 1671.61 109.372C1696.68 109.372 1718.72 114.401 1737.77 124.459C1756.79 134.516 1771.48 148.825 1781.86 167.386C1792.23 185.946 1797.41 207.301 1797.41 231.449C1797.41 255.888 1792.23 277.316 1781.86 295.73C1771.48 314.145 1756.79 328.381 1737.77 338.439C1718.74 348.497 1696.68 353.525 1671.61 353.525C1646.54 353.525 1624.51 348.497 1605.46 338.439C1586.44 328.381 1571.74 314.072 1561.37 295.512ZM1731.04 231.449C1731.04 211.018 1725.69 194.473 1715.03 181.792C1704.36 169.111 1689.88 162.77 1671.61 162.77C1653.66 162.77 1639.35 169.111 1628.69 181.792C1618.02 194.473 1612.68 211.042 1612.68 231.449C1612.68 251.88 1618.02 268.424 1628.69 281.105C1639.35 293.787 1653.68 300.128 1671.61 300.128C1689.88 300.128 1704.34 293.787 1715.03 281.105C1725.69 268.424 1731.04 251.88 1731.04 231.449Z" fill="#01040A"/>
                <path d="M1826.83 295.512C1816.45 276.951 1811.28 255.597 1811.28 231.449C1811.28 207.301 1816.45 185.971 1826.83 167.386C1837.2 148.825 1851.9 134.516 1870.92 124.459C1889.94 114.401 1912 109.372 1937.07 109.372C1962.14 109.372 1984.18 114.401 2003.22 124.459C2022.25 134.516 2036.94 148.825 2047.32 167.386C2057.69 185.946 2062.86 207.301 2062.86 231.449C2062.86 255.888 2057.69 277.316 2047.32 295.73C2036.94 314.145 2022.25 328.381 2003.22 338.439C1984.2 348.497 1962.14 353.525 1937.07 353.525C1912 353.525 1889.97 348.497 1870.92 338.439C1851.87 328.381 1837.17 314.072 1826.83 295.512ZM1996.47 231.449C1996.47 211.018 1991.12 194.473 1980.46 181.792C1969.79 169.111 1955.32 162.77 1937.05 162.77C1919.09 162.77 1904.78 169.111 1894.12 181.792C1883.45 194.473 1878.11 211.042 1878.11 231.449C1878.11 251.88 1883.45 268.424 1894.12 281.105C1904.78 293.787 1919.12 300.128 1937.05 300.128C1955.32 300.128 1969.77 293.787 1980.46 281.105C1991.12 268.424 1996.47 251.88 1996.47 231.449Z" fill="#01040A"/>
                <path d="M956.645 112.167V350.757H884.735V223.238L949.77 164.18L884.735 164.86V112.167H956.645Z" fill="#01040A"/>
                <path d="M2713.82 353.525C2689.26 353.525 2667.73 348.545 2649.32 338.56C2630.88 328.576 2616.69 314.364 2606.71 295.949C2596.72 277.51 2591.74 256.326 2591.74 232.372C2591.74 208.102 2596.75 186.845 2606.71 168.552C2616.69 150.283 2630.98 136.144 2649.56 126.159C2668.15 116.174 2689.72 111.194 2714.3 111.194C2745.93 111.194 2771.73 119.26 2791.7 135.391C2811.67 151.522 2823.97 173.872 2828.56 202.418H2761.29C2758.52 190.757 2753 181.452 2744.7 174.552C2736.41 167.653 2726.11 164.179 2713.82 164.179C2696.93 164.179 2683.4 170.471 2673.27 183.08C2663.14 195.664 2658.06 212.111 2658.06 232.372C2658.06 252.633 2663.14 269.08 2673.27 281.664C2683.4 294.248 2696.93 300.565 2713.82 300.565C2726.4 300.565 2736.92 297.042 2745.38 289.973C2753.83 282.903 2759.27 273.234 2761.73 260.941H2828.53C2824.23 289.803 2812.01 312.469 2791.9 328.891C2771.78 345.314 2745.76 353.525 2713.82 353.525Z" fill="#01040A"/>
                <path d="M2891.19 276.587C2902.24 276.587 2911.55 280.28 2919.05 287.641C2926.59 295.002 2930.35 304.233 2930.35 315.287C2930.35 326.341 2926.59 335.475 2919.05 342.69C2911.52 349.906 2902.24 353.526 2891.19 353.526C2879.82 353.526 2870.47 349.906 2863.08 342.69C2855.7 335.475 2852.03 326.341 2852.03 315.287C2852.03 303.917 2855.72 294.637 2863.08 287.422C2870.44 280.207 2879.84 276.587 2891.19 276.587Z" fill="#01040A"/>
                <path d="M2287.41 111.68V350.27H2215.5V222.752L2280.54 163.694L2215.5 164.398V111.68H2287.41Z" fill="#01040A"/>
                <path d="M1539.48 112.651V171.588H1536.9C1535.03 171.442 1533.14 171.369 1531.22 171.369C1529.3 171.369 1527.41 171.442 1525.53 171.588C1488.68 174.479 1459.65 205.332 1459.65 242.915V350.755H1394.18V246.048C1394.18 198.189 1419.27 156.21 1457.03 132.523C1473.74 122.053 1492.93 115.177 1513.51 112.942C1514.26 112.845 1514.99 112.772 1515.77 112.699C1516.23 112.651 1516.69 112.626 1517.15 112.578C1517.71 112.529 1518.27 112.481 1518.83 112.456C1519.32 112.408 1519.8 112.384 1520.26 112.359C1520.92 112.335 1521.57 112.286 1522.23 112.262C1522.62 112.238 1523.03 112.238 1523.45 112.214C1523.98 112.189 1524.51 112.189 1525.05 112.165C1525.58 112.165 1526.12 112.141 1526.68 112.141C1527.14 112.141 1527.6 112.141 1528.06 112.141H1528.33C1532.09 112.165 1535.81 112.335 1539.48 112.651Z" fill="#01040A"/>
                <path d="M2559.92 221.731V350.27H2494.96V229.092C2494.96 208.515 2490.34 192.53 2481.13 181.185C2472.39 170.398 2460.17 164.738 2444.5 164.203C2428.83 164.738 2416.61 170.398 2407.86 181.185C2398.66 192.554 2394.04 208.515 2394.04 229.092V350.27H2329.08V221.731C2329.08 184.634 2336.88 157.377 2352.5 139.934C2356.85 135.512 2361.53 131.382 2366.49 127.617C2372.64 122.952 2379.2 118.822 2386.12 115.3C2403.66 106.408 2423.48 101.379 2444.5 101.379C2465.51 101.379 2485.34 106.408 2502.88 115.3C2509.78 118.798 2516.34 122.928 2522.46 127.568C2527.44 131.334 2532.15 135.463 2536.52 139.934C2552.12 157.377 2559.92 184.634 2559.92 221.731Z" fill="#01040A"/>
                <path d="M1110.62 296.336V351.581H1056.32C1012.55 351.581 989.831 330.518 988.179 288.368V46.1582H1053.53V112.991H1107.85V168.235H1053.53V272.674C1053.53 281.031 1055.3 287.08 1058.87 290.773C1062.45 294.49 1068.4 296.361 1076.75 296.361H1110.62V296.336Z" fill="#01040A"/>
                <path d="M4.68972 82.6488L200.936 1.16717C202.879 0.365469 205.041 -0.023222 207.203 0.00107181H207.252C209.123 0.0253657 210.945 0.389766 212.548 1.09429L358.165 63.1408L410.956 85.6369C411.029 85.6612 411.077 85.6855 411.126 85.7341C411.976 86.1957 412.729 86.7302 413.385 87.3132C414.017 87.8963 413.798 88.7465 412.924 89.1109L265.023 150.526L207.786 174.285L207.519 174.164L149.918 149.627L1.79876 86.5115C0.924184 86.1228 0.705534 85.2725 1.33717 84.6895C2.28463 83.8635 3.40215 83.1833 4.68972 82.6488ZM207.179 125.819L207.471 125.94V125.698L297.99 88.1149C299.083 87.6533 299.083 86.5115 297.99 86.0257L207.325 47.3984C206.815 47.1797 206.183 47.1797 205.673 47.3984L115.713 84.7624C114.619 85.2239 114.619 86.3658 115.713 86.8516L207.179 125.819Z" fill="#337AE2"/>
                <path d="M0.512695 134.151L47.0354 153.926L104.029 178.147L149.653 197.534L206.306 221.633L206.646 221.755L264.077 198.117L413.897 136.508L414.14 112.457L414.286 98.2692L414.383 88.6488L252.804 155.093L207.108 173.92L206.816 174.042V173.799L161.484 154.51H161.46L104.49 130.289L0.998565 86.3167L0.512695 134.151Z" fill="#0A41DE"/>
                <path d="M413.652 226.831L264.317 287.906L206.571 311.519L149.116 286.813L0.267234 222.798L0 174.235L206.862 263.199L413.384 178.754L413.652 226.831Z" fill="#0A41DE"/>
                <path d="M413.652 315.312L264.317 376.386L206.571 400L149.116 375.293L0.267234 311.279L0 262.715L206.862 351.679L413.384 267.234L413.652 315.312Z" fill="#0A41DE"/>
            </svg>
        </a>
        <ul class="navbar-nav d-flex" id="navbar-nav">
            <li class="<%= (pageTitle == 'Inspiring technology across connected industries') ? 'active' : '' %>">
                <a href="/">Home</a>
            </li>
            <li><a href="/#services">Services</a></li>
            <li><a href="/#business">Business</a></li>
            <li class="<%= (pageTitle == 'Projects & Capabilities') ? 'active' : '' %>"><a href="/projects">Projects</a></li>
            <li><a href="https://blog.witeroo.com">Blog</a></li>
            <li class="d-flex"><a href="/contact" class="btn btn-primary contact-btn">Contact Us</a></li>
        </ul>
        <button class="hamburger hamburger--collapse d-none" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </nav>