<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Witeroo Inc. |
        <%= pageTitle %>
    </title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <nav class="main-nav d-flex p-relative">
        <ul class="navbar-nav d-flex-space-between" id="navbar-nav">
            <div class="d-flex left">
                <li class="logo d-flex">
                    <a href="/" class="logo">
                        <svg width="191" height="27" viewBox="0 0 191 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M35.8639 7.29102L38.9715 18.2135L41.8975 7.29102H45.73L48.566 18.2435L51.7337 7.29102H56.0777L50.9789 22.7992H46.4532L43.7372 13.4463L40.9612 22.7992H36.4355L31.3666 7.29102H35.8639Z" fill="white"/>
                            <path d="M77.1695 8.14467C78.3459 7.49093 79.7087 7.16406 81.2578 7.16406C82.8274 7.16406 84.2091 7.47041 85.406 8.08467C86.603 8.69893 87.5378 9.56269 88.2121 10.6791C88.8863 11.7955 89.2321 13.1077 89.2527 14.6158C89.2527 15.159 89.2132 15.6422 89.1327 16.0638H77.8785V16.1838C77.9796 17.3097 78.3412 18.1955 78.9649 18.8382C79.5887 19.4825 80.443 19.803 81.5294 19.803C82.3947 19.803 83.1132 19.6167 83.6864 19.2456C84.2596 18.873 84.637 18.325 84.8186 17.6018H89.0126C88.8516 18.6282 88.46 19.5536 87.8362 20.3778C87.2125 21.2021 86.3882 21.8511 85.3618 22.3233C84.3354 22.7954 83.159 23.0323 81.831 23.0323C80.1019 23.0323 78.6081 22.7101 77.3511 22.0675C76.0942 21.4232 75.1278 20.5042 74.4551 19.3072C73.7808 18.1103 73.4445 16.7175 73.4445 15.129C73.4445 13.5199 73.7713 12.1161 74.4251 10.9207C75.0772 9.72376 75.9931 8.79842 77.1695 8.14467ZM83.838 11.1007C83.2048 10.5875 82.4042 10.3317 81.4394 10.3317C80.514 10.3317 79.734 10.5986 79.1007 11.1307C78.4675 11.6645 78.0901 12.3829 77.9685 13.2877H84.9986C84.8581 12.3435 84.4712 11.6139 83.838 11.1007Z" fill="white"/>
                            <path d="M101.487 19.2103C100.813 18.0038 100.477 16.6158 100.477 15.0462C100.477 13.4766 100.813 12.0902 101.487 10.8822C102.162 9.67576 103.117 8.74568 104.353 8.09194C105.59 7.4382 107.024 7.11133 108.653 7.11133C110.283 7.11133 111.715 7.4382 112.953 8.09194C114.19 8.74568 115.145 9.67576 115.819 10.8822C116.493 12.0886 116.83 13.4766 116.83 15.0462C116.83 16.6348 116.493 18.0275 115.819 19.2245C115.145 20.4214 114.19 21.3468 112.953 22.0005C111.717 22.6543 110.283 22.9811 108.653 22.9811C107.024 22.9811 105.591 22.6543 104.353 22.0005C103.117 21.3468 102.162 20.4167 101.487 19.2103ZM112.516 15.0462C112.516 13.7182 112.168 12.6429 111.475 11.8186C110.782 10.9943 109.841 10.5822 108.653 10.5822C107.486 10.5822 106.556 10.9943 105.863 11.8186C105.17 12.6429 104.822 13.7198 104.822 15.0462C104.822 16.3742 105.17 17.4496 105.863 18.2739C106.556 19.0982 107.488 19.5103 108.653 19.5103C109.841 19.5103 110.78 19.0982 111.475 18.2739C112.168 17.4496 112.516 16.3742 112.516 15.0462Z" fill="white"/>
                            <path d="M118.742 19.2103C118.068 18.0038 117.731 16.6158 117.731 15.0462C117.731 13.4766 118.068 12.0902 118.742 10.8822C119.416 9.67576 120.372 8.74568 121.608 8.09194C122.844 7.4382 124.278 7.11133 125.908 7.11133C127.538 7.11133 128.97 7.4382 130.208 8.09194C131.444 8.74568 132.4 9.67576 133.074 10.8822C133.748 12.0886 134.084 13.4766 134.084 15.0462C134.084 16.6348 133.748 18.0275 133.074 19.2245C132.4 20.4214 131.444 21.3468 130.208 22.0005C128.971 22.6543 127.538 22.9811 125.908 22.9811C124.278 22.9811 122.846 22.6543 121.608 22.0005C120.37 21.3468 119.415 20.4167 118.742 19.2103ZM129.769 15.0462C129.769 13.7182 129.421 12.6429 128.728 11.8186C128.035 10.9943 127.094 10.5822 125.906 10.5822C124.739 10.5822 123.809 10.9943 123.116 11.8186C122.423 12.6429 122.075 13.7198 122.075 15.0462C122.075 16.3742 122.423 17.4496 123.116 18.2739C123.809 19.0982 124.741 19.5103 125.906 19.5103C127.094 19.5103 128.033 19.0982 128.728 18.2739C129.421 17.4496 129.769 16.3742 129.769 15.0462Z" fill="white"/>
                            <path d="M62.1809 7.29102V22.7992H57.5068V14.5106L61.734 10.6718L57.5068 10.716V7.29102H62.1809Z" fill="white"/>
                            <path d="M176.396 22.9818C174.799 22.9818 173.4 22.6581 172.203 22.0091C171.005 21.3601 170.083 20.4363 169.434 19.2394C168.785 18.0409 168.461 16.6639 168.461 15.1069C168.461 13.5294 168.786 12.1477 169.434 10.9587C170.083 9.77121 171.011 8.85219 172.219 8.20318C173.427 7.55418 174.829 7.23047 176.428 7.23047C178.483 7.23047 180.16 7.75472 181.458 8.80323C182.756 9.85175 183.555 11.3045 183.854 13.1599H179.481C179.301 12.402 178.943 11.7972 178.403 11.3487C177.864 10.9003 177.195 10.6745 176.396 10.6745C175.298 10.6745 174.419 11.0834 173.76 11.903C173.102 12.7209 172.772 13.79 172.772 15.1069C172.772 16.4239 173.102 17.4929 173.76 18.3109C174.419 19.1289 175.298 19.5394 176.396 19.5394C177.214 19.5394 177.898 19.3105 178.447 18.8509C178.997 18.3914 179.35 17.763 179.51 16.9639H183.852C183.573 18.8399 182.779 20.3132 181.471 21.3806C180.164 22.4481 178.472 22.9818 176.396 22.9818Z" fill="white"/>
                            <path d="M187.925 17.9785C188.643 17.9785 189.248 18.2185 189.736 18.697C190.226 19.1755 190.47 19.7755 190.47 20.494C190.47 21.2125 190.226 21.8062 189.736 22.2752C189.247 22.7442 188.643 22.9795 187.925 22.9795C187.186 22.9795 186.578 22.7442 186.098 22.2752C185.618 21.8062 185.379 21.2125 185.379 20.494C185.379 19.755 185.619 19.1518 186.098 18.6828C186.576 18.2138 187.188 17.9785 187.925 17.9785Z" fill="white"/>
                            <path d="M148.68 7.26172V22.7699H144.006V14.4813L148.233 10.6425L144.006 10.6883V7.26172H148.68Z" fill="white"/>
                            <path d="M100.065 7.32222V11.1531H99.8973C99.7757 11.1436 99.6526 11.1389 99.5278 11.1389C99.4031 11.1389 99.2799 11.1436 99.1583 11.1531C96.7628 11.341 94.8758 13.3464 94.8758 15.7893V22.7988H90.6202V15.993C90.6202 12.8822 92.2514 10.1535 94.7053 8.61391C95.7917 7.93333 97.0392 7.48645 98.3767 7.34117C98.4256 7.33486 98.473 7.33012 98.5235 7.32538C98.5535 7.32222 98.5835 7.32064 98.6135 7.31748C98.6498 7.31433 98.6862 7.31117 98.7225 7.30959C98.7541 7.30643 98.7856 7.30485 98.8156 7.30327C98.8583 7.30169 98.9009 7.29854 98.9436 7.29696C98.9688 7.29538 98.9957 7.29538 99.0225 7.2938C99.0572 7.29222 99.092 7.29222 99.1267 7.29064C99.1615 7.29064 99.1962 7.28906 99.2325 7.28906C99.2625 7.28906 99.2925 7.28906 99.3225 7.28906H99.3399C99.5847 7.29064 99.8263 7.30169 100.065 7.32222Z" fill="white"/>
                            <path d="M166.393 14.4146V22.7695H162.17V14.893C162.17 13.5556 161.87 12.5165 161.272 11.7791C160.703 11.078 159.909 10.71 158.89 10.6753C157.872 10.71 157.078 11.078 156.509 11.7791C155.911 12.5181 155.611 13.5556 155.611 14.893V22.7695H151.388V14.4146C151.388 12.0033 151.895 10.2316 152.91 9.0978C153.193 8.81041 153.498 8.54197 153.82 8.29721C154.219 7.99402 154.646 7.72558 155.096 7.49661C156.236 6.91867 157.524 6.5918 158.89 6.5918C160.256 6.5918 161.545 6.91867 162.685 7.49661C163.133 7.724 163.56 7.99245 163.958 8.29405C164.281 8.53881 164.588 8.80725 164.872 9.0978C165.886 10.2316 166.393 12.0033 166.393 14.4146Z" fill="white"/>
                            <path d="M72.1891 19.2634V22.8542H68.6599C65.8144 22.8542 64.3379 21.4851 64.2306 18.7454V3.00195H68.4783V7.34601H72.0091V10.9369H68.4783V17.7253C68.4783 18.2685 68.5936 18.6617 68.8257 18.9017C69.0578 19.1433 69.4447 19.2649 69.9879 19.2649H72.1891V19.2634Z" fill="white"/>
                            <path d="M0.304865 5.37211L13.0607 0.075865C13.187 0.0237552 13.3276 -0.00150942 13.4681 6.96672e-05H13.4713C13.5929 0.00164875 13.7113 0.0253345 13.8155 0.071128L23.2805 4.10411L26.7119 5.56634C26.7166 5.56792 26.7198 5.5695 26.7229 5.57266C26.7782 5.60266 26.8272 5.6374 26.8698 5.6753C26.9108 5.7132 26.8966 5.76846 26.8398 5.79215L17.2263 9.78407L13.506 11.3284L13.4886 11.3205L9.74463 9.72565L0.116954 5.62319C0.0601074 5.59792 0.0458953 5.54265 0.0869515 5.50476C0.148536 5.45107 0.221173 5.40685 0.304865 5.37211ZM13.4665 8.17814L13.4855 8.18604V8.17025L19.3691 5.72741C19.4402 5.6974 19.4402 5.62319 19.3691 5.59161L13.476 3.08086C13.4428 3.06665 13.4018 3.06665 13.3686 3.08086L7.52128 5.50949C7.45022 5.5395 7.45022 5.61371 7.52128 5.64529L13.4665 8.17814Z" fill="#337AE2"/>
                            <path d="M0.0333099 8.71859L3.05725 10.004L6.76179 11.5783L9.72731 12.8384L13.4097 14.4049L13.4318 14.4128L17.1648 12.8763L26.903 8.87176L26.9188 7.30847L26.9283 6.38628L26.9346 5.76097L16.4321 10.0798L13.4618 11.3036L13.4429 11.3114V11.2957L10.4963 10.0419H10.4947L6.79179 8.46752L0.0648911 5.60938L0.0333099 8.71859Z" fill="white"/>
                            <path d="M26.8871 14.7449L17.1804 18.7147L13.427 20.2496L9.69242 18.6436L0.01737 14.4828L0 11.3262L13.4459 17.1088L26.8697 11.6199L26.8871 14.7449Z" fill="white"/>
                            <path d="M26.8871 20.4968L17.1804 24.4667L13.427 26.0015L9.69242 24.3956L0.01737 20.2347L0 17.0781L13.4459 22.8607L26.8697 17.3718L26.8871 20.4968Z" fill="white"/>
                        </svg>
                    </a>
                </li>
                <li><a href="/#services">Services</a></li>
                <li><a href="/#business">Business</a></li>
                <li class="<%= (pageTitle == 'Projects & Capabilities') ? 'active' : '' %>"><a href="/projects">Projects</a></li>
                <li><a href="https://blog.witeroo.com">Blog</a></li>
            </div>
            <div class="d-flex cta">
                <li class="d-flex"><a href="https://dashboard.witeroo.com" class="btn btn-secondary">Login</a></li>
                <li class="d-flex"><a href="/contact" class="btn btn-primary contact-btn">Contact Us</a></li>
            </div>
        </ul>
        <button class="hamburger hamburger--collapse d-none" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </nav>