<%- include('partials/header') %>
    <section class="legal">
        <div name="termly-embed" data-id="69733a21-a399-43f1-9b43-8bd13874b18d" data-type="iframe"></div>
        <script type="text/javascript">
            (function(d, s, id) {
                var js, tjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://app.termly.io/embed-policy.min.js";
                tjs.parentNode.insertBefore(js, tjs);
            }(document, 'script', 'termly-jssdk'));
        </script>
    </section>
    <%- include('partials/footer') %>
        </body>

        </html>