<%- include('partials/header') %>

    <section class="unsubscribed" style="padding-top:200px;padding-bottom:200px;">
        <div class="section-header">
            <h2>Unsubscribed!</h2>
            <p>
                We hate to see you go. You have been successfully unsubscribed.
            </p>
        </div>

    </section>

    <%- include('partials/footer') %>
        </body>

        </html>