/* ================================================================ */

@font-face {
    font-family: 'Mulish';
    src: url('fonts/Mulish-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 1000;
}


/* ================================================================ */


/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default padding */

ul[class],
ol[class] {
    padding: 0;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


/* Set core body defaults */

html {
    width: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class],
li {
    list-style: none;
}


/* A elements that don't have a class get default styles */

a {
    text-decoration-skip-ink: auto;
    text-decoration: inherit;
    color: inherit;
}


/* Make images easier to work with */

img {
    max-width: 100%;
    display: block;
}


/* Natural flow and rhythm in articles by default */

article>*+* {
    margin-top: 1em;
}


/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}

input,
select,
textarea {
    margin-bottom: 16px;
    width: 100%;
    height: 48px;
    padding: 14px 20px;
    border: 1px solid #DDDEDF;
    border-radius: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #01040A;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../img/icons/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) 50%;
}

input[type="submit"] {
    margin-top: 8px;
    margin-bottom: 0;
    padding: 12px 24px;
    background: #0A41DE;
    opacity: 0.5;
    font-weight: 600;
    text-align: center;
    color: #FFF;
}

.btn,
.btn-primary {
    padding: 10px 24px;
    background: #0A41DE;
    border-radius: 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #FFF;
    text-decoration: none;
}

.btn-secondary {
    background: transparent;
    border: 1px solid #FFF;
}


/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/*================================================================= */


/*================================================================= */


/* ================================================================ */

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.d-flex {
    display: flex;
}

.d-flex-space-between {
    display: flex;
    justify-content: space-between;
}

.d-inline-flex {
    display: inline-flex;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.t-center {
    text-align: center;
}

h2,
h4 {
    color: #01040A;
}

body {
    background-color: #FFF;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    color: #808187;
}


/*
 * header
*/

nav.main-nav {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 24px 120px;
    background: #020D2C;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
}

nav.main-nav .logo,
nav.main-nav .navbar-nav .logo a {
    width: 190.47px;
    height: 27px;
    padding: 0;
}

.main-nav .navbar-nav {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-nav .navbar-nav .left {
    align-items: center;
}

.navbar-nav li:hover,
.navbar-nav li.active {
    color: #01040A;
}

.main-nav .navbar-nav li {
    margin-right: 16px;
}

.main-nav .navbar-nav .cta li {
    margin-right: 0;
}

.main-nav .navbar-nav li a {
    padding: 10px 16px;
    color: #EFF2FD;
}

.main-nav .navbar-nav .cta li a {
    padding: 10px 24px;
    color: #EFF2FD;
}

.navbar-nav .contact-btn {
    margin-left: 16px;
}


/*
 * end header 
*/


/*
 * hero
*/

.hero {
    margin-top: 89px;
    padding: 50.5px;
    color: #FFF;
    background: url('../img/hero-bg.jpg');
}

.hero-slide {
    background-color: #020D2C;
    background-image: url('../img/hero-logo.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 180px) 0px;
}

.hero h1 {
    font-weight: 1000;
    font-size: 32px;
    line-height: 120%;
}


/* 
 * landing page 
*/

.hero.home-hero {
    padding: 0;
    background: unset;
}

.hero-slide .slide-item {
    height: 0;
    padding: 0;
    overflow: hidden;
    color: #FFF;
}

section.services,
.articles .articles-container {
    max-width: 1680px;
    margin: auto;
}

.hero-slide .slide-item.active {
    height: 722px;
    padding: 174.5px 120px 262.5px;
}

.hero-slide .slide-text .header-text {
    height: 48px;
    overflow: hidden;
}

@keyframes headerTextSlideDown {
    0% {
        margin-top: 35px;
    }
    25% {
        margin-top: 25px;
    }
    50% {
        margin-top: 15px;
    }
    75% {
        margin-top: 5px;
    }
    100% {
        margin-top: 0px;
    }
}

@keyframes headerTextSlideUp {
    0% {
        margin-top: 0px;
    }
    25% {
        margin-top: 5px;
    }
    50% {
        margin-top: 15px;
    }
    75% {
        margin-top: 25px;
    }
    100% {
        margin-top: 35px;
    }
}

.hero-slide .slide-text h1 {
    margin-top: 30px;
    font-weight: 1000;
    font-size: 40px;
    line-height: 120%;
}

.hero-slide .slide-item.active .slide-text h1 {
    animation: headerTextSlideDown 1s ease 0s 1 normal forwards, headerTextSlideUp 0.5s ease 7.75s 1 normal forwards;
}

.hero-slide .slide-text p {
    margin-top: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 16px;
}

.hero-slide .hero-cta .btn {
    padding: 12px 24px;
    font-size: 16px;
    line-height: 150%;
}

.hero-slide .hero-cta .btn-primary {
    margin-right: 16px;
}

.hero-slide .slide-indicator {
    bottom: 48px;
    left: 120px;
}

.hero-slide .slide-indicator .indicator {
    margin-right: 8px;
    width: 42px;
    height: 4px;
    background: #EFF2FD;
    opacity: 0.2;
    border-radius: 999px;
}

.hero-slide .slide-indicator .indicator.active {
    width: 80px;
    background: #EFF2FD;
    opacity: 1;
    border-radius: 999px;
}

.hero-slide .slide-indicator .indicator-inner {
    width: 0px;
    background: #0A41DE;
}

.hero-slide .indicator.active .indicator-inner {
    width: 100%;
    height: 100%;
    transition: all 7s 1.25s cubic-bezier(0.33333, 0.66667, 0.66667, 1);
}

section {
    padding: 60px 120px;
}

.section-header {
    margin: auto;
    margin-bottom: 48px;
    max-width: 588px;
    text-align: center;
}

.section-header h2 {
    margin-bottom: 8px;
    font-weight: 1000;
    font-size: 32px;
    line-height: 120%;
}

.section-header p {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

section.articles,
section.services,
section.technologies {
    padding: 40px 120px;
}

section.services .section-header {
    max-width: unset;
}

.services .services-cards {
    justify-content: space-between;
    flex-wrap: wrap;
}

.services .services-cards .services-card-item {
    margin-bottom: 24px;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    width: calc((100% - 24px)/2);
    background: #FFF;
    border: 1px solid #DDDEDF;
    border-radius: 16px;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    -webkit-transition: all 400ms ease-out 0s;
    -moz-transition: all 400ms ease-out 0s;
    transition: all 400ms ease-out 0s;
}

.services .services-cards .services-card-item:hover {
    border-color: #0A41DE;
    transform: translate3d(0px, -9px, 0px) scale3d(1, 1, 1) rotateX(0deg)rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.services .service-card-item-content .service-icon {
    margin-bottom: 16px;
    width: 40px;
    height: 40px;
}

.services .service-card-item-content .service-text h4 {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.services .service-card-item-content .service-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.business,
.our-work {
    padding: 0;
}

.business,
.subscribe .subscribe-container {
    background-color: #0A41DE;
    background-image: url('../img/subscribe-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    border-radius: 24px;
}

.business {
    background-image: url('../img/business-bg.jpg');
    background-position: center;
    border-radius: 0;
}

.business .business-container,
.our-work .our-work-container {
    padding: 408px 120px 120px;
    justify-content: center;
    column-gap: 80px;
    align-items: center;
    background: linear-gradient(360deg, rgba(2, 13, 44, 0.95) 30.15%, rgba(2, 13, 44, 0) 100%);
    color: #FFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
}

.business .business-container div,
.our-work .our-work-container div {
    width: 560px;
}

.business .business-container h3,
.our-work .our-work-container h3 {
    margin-bottom: 4px;
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
}

.business .section-header,
.our-work .section-header {
    margin: 0;
    text-align: left;
}

.business .section-header h2,
.our-work .section-header h2 {
    color: #FFF;
}

.technologies .technologies-row {
    justify-content: center;
    flex-wrap: wrap;
}

.technologies .technologies-row img {
    margin-bottom: 48px;
    width: 220.8px;
    height: 80px;
}

.our-work {
    background-image: url('../img/our-work-bg.jpg');
    background-position: center;
}

.articles .article-cards-row {
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles .article-card-item {
    flex: 0 0 calc((100% - 48px) / 3);
}

.articles .article-card-item:not(:last-child) {
    margin-right: 24px;
}

.articles .article-card-item .article-card-item-img {
    width: 100%;
    height: 216px;
    overflow: hidden;
    border-radius: 16px 16px 0 0;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #DDDEDF;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: background-size 2s ease 0s;
    -moz-transition: background-size 2s ease 0s;
    transition: background-size 2s ease 0s;
}

.articles .article-card-item:hover .article-card-item-img {
    background-size: 125% 125%;
}

.articles .article-card-item .article-card-item-text {
    margin-bottom: 32px;
    padding: 24px;
    width: 100%;
    height: 222px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-radius: 0 0 16px 16px;
    border-color: #DDDEDF;
}

.articles .article-card-item-text a.article-tag {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    text-transform: uppercase;
    color: #0A41DE;
}

.articles .article-card-item-text h4.article-title {
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 18px;
    line-height: 130%;
}

.articles .article-card-item-text span.article-date {
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #01040A;
}

.articles .article-card-item p.article-excerpt {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #808187;
}

.articles a.btn.more-articles {
    margin: auto;
    padding: 12px 24px;
    border: 1px solid #0A41DE;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #0A41DE;
}

.subscribe {
    padding: 0 120px 80px;
}

.subscribe .subscribe-container {
    background-size: 1200px 419px;
}

.subscribe .section-header {
    margin: 0;
    width: 100%;
    max-width: unset;
    background: linear-gradient(73.97deg, #0033EE 58.42%, rgba(0, 51, 238, 0) 75.27%);
    padding: 80px;
    border-radius: 24px;
    text-align: left;
}

.subscribe .section-header h2,
.subscribe .section-header p {
    width: 540px;
    color: #FFF;
}

.subscribe .section-header p {
    margin-bottom: 16px;
}

.subscribe .section-header a.btn-secondary {
    padding: 12px 24px;
    font-size: 16px;
    line-height: 150%;
}


/* 
 * end landing page
*/


/* 
 * projects page
*/

section.projects {
    padding: 0;
}

section.projects div.load-more-projects {
    display: none;
}

.projects .project-row {
    padding: 60px;
    justify-content: center;
    align-items: center;
    background: #03164A;
}

.projects .project-row.left-text {
    background: #FFF;
}

.project-row .project-image {
    width: 588px;
    max-width: 50%;
}

.project-row .project-text {
    margin-left: 24px;
    width: 588px;
    max-width: 50%;
    align-items: center;
}

.project-row.left-text .project-text {
    margin-left: 0;
    margin-right: 24px;
}

.project-text .project-text-container {
    padding: 33.5px 24px;
}

.project-row.left-text .project-text-container {
    left: 109px;
}

.project-row .project-text h2 {
    margin-bottom: 8px;
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
    color: #FFF;
}

.project-row .project-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #EFF2FD;
}

.project-row.left-text .project-text h2 {
    color: #01040A;
}

.project-row.left-text .project-text p {
    color: #808187;
}


/* 
 * end projects page
*/


/* 
 * contact page
*/

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba
}

p.form-message {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
}

section.contact {
    padding: 0;
    width: 100%;
    height: 874px;
}

.contact-row {
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding: 140px 120px;
    justify-content: center;
}

.contact-row #contact-form,
.contact-row .contact-info {
    width: 540px;
    background: #FFF;
    padding: 48px;
    border-radius: 24px;
}

.contact-row #contact-form h2,
.contact-row .contact-info h2 {
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
}

.contact-row #contact-form {
    margin-right: 24px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
}

#map {
    overflow: hidden;
    background: none!important;
    height: 100%;
    width: 100%;
}

#contact-form input,
#contact-form textarea {
    height: 56px;
    padding: 16px 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #808187;
}

#contact-form textarea {
    margin-bottom: 24px;
    padding: 20px 10px 24px 12px;
    height: 112px;
    border: 1px solid #DDDEDF;
}

#contact-form input[type="submit"] {
    margin: 0;
    width: 158px;
    padding: 12px 24px;
    border: 1px solid #0A41DE;
    border-radius: 12px;
    opacity: 1;
    background: transparent;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #0A41DE;
}

.contact-info .contact-info-row {
    margin-bottom: 50px;
}

.contact-info .contact-info-row h4 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #01040A;
}

.contact-info .contact-info-row .link {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #808187;
}

.contact-info .btn {
    padding: 12px 24px;
    border: 1px solid #0A41DE;
    font-size: 16px;
    line-height: 150%;
    color: #0A41DE;
}


/* 
 * end contact page
*/


/* 
 * terms page
*/

section.legal {
    margin: auto;
    max-width: 1440px;
    padding: 89px 324px 140px;
}

section.legal h1 {
    margin-bottom: 64px;
    font-weight: 1000;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #01040A;
}

section.legal p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #808187;
}


/* 
 * end trms page
*/


/* footer */

footer {
    background-color: #03164A;
    background-image: url('../img/footer-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

footer .footer-container {
    padding: 70px 120px 80px;
    background: linear-gradient(360deg, rgba(3, 22, 74, 0.2) 1.47%, #03164A 47.28%);
}

footer p,
footer li {
    color: #FFF;
    opacity: 0.6;
}

footer .footer-row {
    justify-content: space-between;
}

footer .footer-col {
    margin-bottom: 40px;
    width: 248px;
    padding: 0px 0px 0px 48px;
}

footer .footer-col h5 {
    margin: 0 0 8px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFF;
}

footer .footer-col li {
    padding: 10px 0px;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
}

footer .footer-about {
    width: 384px;
    padding: 0;
    flex-direction: column;
}

footer .logo {
    margin-bottom: 16px;
    width: 234.42px;
    height: 32px;
}

footer .footer-about p {
    margin-bottom: 24px;
    width: 336px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

footer .socials .social-icon {
    display: flex;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    padding: 12px;
    border: 1px solid #FFF;
    border-radius: 800px;
}

footer .social-icon svg {
    width: 16px;
    height: 16px;
}

footer p.copy {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
}


/*
* end footer
*/


/* subscription popup */

.alert {
    display: none;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.modal {
    z-index: 99;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 88px 324px 0px;
    left: 0px;
    top: 0px;
    background: rgba(2, 13, 44, 0.9);
    overflow: scroll;
}

.modal h1 {
    font-style: normal;
    font-weight: 1000;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    color: #FFF;
}

.modal .close-btn {
    width: 40px;
    height: 40px;
    right: 16px;
    top: 16px;
    background: #FFF;
    border-radius: 999px;
    border: 0;
    padding: 10px;
}

.subscription-popup-content {
    margin: auto;
    border-radius: 24px;
    overflow: hidden;
}

.subscription-popup-image,
.subscription-popup-image img {
    max-width: 282px;
    max-height: 440px;
}

.subscription-popup-body {
    padding: 104px 80px;
    background: #FFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.subscription-popup-body h1 {
    margin-bottom: 8px;
    color: #01040A;
    text-align: left;
}

.subscription-popup-body p {
    margin-bottom: 16px;
    max-width: 350px;
}

.subscription-popup-body .btn {
    border: 1px solid #0A41DE;
    padding: 12px 24px;
    color: #0A41DE;
}

.subscription-form-content {
    margin: auto;
    width: 629px;
    border-radius: 24px;
    overflow: hidden;
    background: #FFF;
}

.subscription-form-content .subscription-header {
    background: #0A41DE;
    padding: 64px 10px;
    background-image: url('../img/subscription-header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.subscription-form-content .subscription-body {
    padding: 80px;
}

.subscription-form-content .subscription-body form {
    display: none;
}

.subscription-form-content .subscription-body .form-row {
    justify-content: space-between;
}

.subscription-form-content .subscription-body .form-row input,
.subscription-form-content .subscription-body .form-row select {
    width: calc((100% - 16px)/2);
}


/*
 * responsive media queries
*/

@media (max-width: 1439px) {
    .d-md-flex {
        display: flex;
    }
    /* header */
    nav.main-nav {
        padding: 24px 60px;
    }
    .navbar-nav .contact-btn {
        margin-left: 8px;
    }
    /*
     * end header
    */
    /*
    * hero
    */
    .hero-slide .slide-item.active {
        padding: 198.5px 60px;
    }
    .hero-slide .slide-indicator {
        left: 60px;
    }
    section.articles,
    section.services,
    section.technologies {
        padding: 80px 60px;
    }
    .services .services-cards .services-card-item {
        padding: 16px;
        height: auto;
    }
    .business .business-container,
    .our-work .our-work-container {
        padding: 60px;
    }
    .business .section-header,
    .our-work .section-header {
        max-width: 50%;
        padding: 0 24px 0 0;
    }
    .our-work .section-header {
        padding: 0 0 0 24px;
    }
    .articles .article-cards-row {
        justify-content: space-evenly;
    }
    .subscribe {
        padding: 0 60px 80px;
    }
    /* 
     * end landing page
    */
    /* 
     * blogs page
    */
    nav.blog-nav {
        padding: 16px 24px;
    }
    nav.blog-nav .navbar-drop-btn {
        margin-right: 0;
        padding: 10px 12px;
    }
    nav.blog-nav .navbar-drop-btn a {
        margin-right: 8px;
    }
    nav.blog-nav .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-top: 1px solid #EFF2FD;
        background: #0A41DE;
        padding: 24px 24px 0;
    }
    nav.blog-nav .navbar .nav-item {
        margin-bottom: 24px;
    }
    nav.blog-nav {
        padding: 16px 24px;
    }
    nav.blog-nav .navbar-drop-btn {
        margin-right: 0;
        padding: 10px 12px;
    }
    nav.blog-nav .navbar-drop-btn a {
        margin-right: 8px;
    }
    nav.blog-nav .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-top: 1px solid #EFF2FD;
        background: #0A41DE;
        padding: 24px 24px 0;
    }
    nav.blog-nav .navbar .nav-item {
        margin-bottom: 24px;
    }
    section.blogs {
        padding: 70px 60px;
    }
    .blogs .featured-blog {
        margin-bottom: 48px;
        flex-direction: column;
    }
    .featured-blog .featured-blog-image {
        width: 100%;
    }
    .featured-blog .featured-blog-text {
        width: 100%;
        padding: 24px 8px;
    }
    /* 
     * end blogs page
    */
    /* 
    * blog inner page
    */
    .blogs.single .single-blog {
        max-width: 100%;
        padding: 0 111px 70px;
    }
    /* 
    * end blog inner page
    */
    /* 
    * contact page
    */
    .contact-row {
        padding: 70px 60px;
    }
    /* 
    * contact page
    */
    /* 
    * terms page
    */
    section.legal {
        padding: 64px 162px 70px;
    }
    /* 
     * end terms page
    */
    /*
     * footer
    */
    footer.footer-container {
        padding: 70px 60px 80px;
    }
    footer .footer-col {
        padding: 0 0 0 24px;
    }
    /*
     * end footer
    */
}

@media (max-width: 768px) {
    .d-sm-none {
        display: none;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-flex {
        display: flex;
    }
    /* header */
    nav.main-nav {
        justify-content: space-between;
        padding: 32px 24px;
        font-size: 16px;
        line-height: 150%;
    }
    nav.main-nav .logo {
        width: 191.81px;
    }
    .main-nav .navbar-nav {
        z-index: 9;
        position: absolute;
        top: calc(-100% - 400px);
        left: 0;
        flex-direction: column;
        align-items: unset;
        width: 100%;
        border-bottom: 1px solid #DDDEDF;
        background: #FFF;
        padding: 48px 0;
        transition: all 0.55s 0.125s cubic-bezier(0.33333, 0.66667, 0.66667, 1);
    }
    .main-nav .navbar-nav.open {
        top: calc(100% + 1px);
        transition: all 0.55s 0.125s cubic-bezier(0.33333, 0.66667, 0.66667, 1);
    }
    .main-nav .navbar-nav .left {
        flex-direction: column;
    }
    .main-nav .navbar-nav li a {
        padding: 10px 8px;
        color: #808187;
    }
    .main-nav .navbar-nav li:not(:first-child) {
        margin: unset;
        display: flex;
        width: 222px;
    }
    .main-nav .navbar-nav li:not(:first-child) a {
        width: 100%;
        padding: 12px;
        text-align: center;
    }
    .main-nav .navbar-nav .cta {
        justify-content: center;
    }
    .navbar-nav .contact-btn {
        margin: auto;
        margin-top: 24px;
    }
    /*!
    * Hamburgers
    * @description Tasty CSS-animated hamburgers
    * @author Jonathan Suh @jonsuh
    * @site https://jonsuh.com/hamburgers
    * @link https://github.com/jonsuh/hamburgers
    */
    .hamburger {
        display: inline-block;
        /* important */
        font: inherit;
        color: inherit;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible;
    }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        /* background-color: #01040A; */
        background-color: #FFF;
    }
    .hamburger-box {
        width: 21px;
        height: 13.16px;
        display: inline-block;
        position: relative;
    }
    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px;
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        width: 21px;
        height: 1.5px;
        background-color: #FFF;
        border-radius: 4px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }
    .hamburger-inner::before,
    .hamburger-inner::after {
        content: "";
        display: block;
    }
    .hamburger-inner::before {
        top: -5.83px;
    }
    .hamburger-inner::after {
        bottom: -5.83px;
    }
    /*
   * Collapse
   */
    .hamburger--collapse .hamburger-inner {
        top: auto;
        bottom: 0;
        transition-duration: 0.13s;
        transition-delay: 0.13s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    .hamburger--collapse .hamburger-inner::after {
        top: -11.66px;
        transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    }
    .hamburger--collapse .hamburger-inner::before {
        transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    .hamburger--collapse.is-active .hamburger-inner {
        transform: translate3d(0, -5.83px, 0) rotate(-45deg);
        transition-delay: 0.22s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .hamburger--collapse.is-active .hamburger-inner::after {
        top: 0;
        opacity: 0;
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
    }
    .hamburger--collapse.is-active .hamburger-inner::before {
        top: 0;
        transform: rotate(-90deg);
        transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    /*
     * end header
    */
    /*
    * hero
    */
    .hero {
        padding: 22.75px 67.5px;
    }
    .hero-slide {
        background-image: unset;
    }
    .hero h1 {
        font-weight: 900;
        font-size: 24px;
    }
    /* 
    * landing page 
    */
    .hero-slide .slide-item.active {
        padding: 106.5px 64px 173px 24px;
    }
    .hero-slide .slide-text .header-text {
        height: 115px;
    }
    @keyframes headerTextSlideDown {
        0% {
            margin-top: 115px;
        }
        25% {
            margin-top: 86.25px;
        }
        50% {
            margin-top: 57.5px;
        }
        75% {
            margin-top: 28.75px;
        }
        100% {
            margin-top: 0px;
        }
    }
    @keyframes headerTextSlideUp {
        0% {
            margin-top: 0px;
        }
        25% {
            margin-top: 28.75px;
        }
        50% {
            margin-top: 57.5px;
        }
        75% {
            margin-top: 86.25px;
        }
        100% {
            margin-top: 115px;
        }
    }
    .hero-slide .slide-text h1 {
        margin-top: 115px;
        font-size: 32px;
    }
    .hero-slide .slide-text p {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 20px;
    }
    .hero-slide .hero-cta .btn {
        padding: 14px 20px;
        font-size: 14px;
        line-height: 140%;
    }
    .hero-slide .slide-indicator {
        bottom: 32px;
        left: 24px;
    }
    .hero-slide .slide-indicator .indicator {
        width: 39.5px;
    }
    section,
    section.articles,
    section.services,
    section.technologies {
        padding: 60px 24px;
    }
    .section-header {
        max-width: 100%;
    }
    .section-header h2 {
        font-weight: 900;
        font-size: 24px;
    }
    .section-header p {
        font-size: 16px;
        line-height: 150%;
    }
    .services .services-cards {
        flex-direction: column;
        align-items: center;
    }
    .services .services-cards .services-card-item {
        padding: 46px 32px;
        width: 100%;
        height: auto;
    }
    .business .business-container,
    .our-work .our-work-container {
        padding: 60px 24px;
        flex-direction: column;
    }
    .business .business-container div,
    .our-work .our-work-container div {
        width: 100%;
    }
    .business .section-header {
        max-width: 100%;
        padding: 24px 8px;
    }
    .business .section-header p {
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
    }
    .technologies .section-header {
        margin-bottom: 32px;
    }
    .technologies .technologies-row img {
        margin-bottom: 24px;
        width: 175px;
        height: auto;
    }
    section.our-work {
        padding: 0;
    }
    .our-work .section-header {
        max-width: 100%;
        padding: 24px 8px;
    }
    .our-work .section-header p {
        margin-bottom: 20px;
    }
    .articles .articles-container {
        width: 100%;
        overflow: scroll;
        scroll-behavior: smooth;
    }
    .articles .article-cards-row {
        width: 300%;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .articles .article-card-item {
        flex: 0 0 calc(100% / 3);
    }
    .articles .article-card-item:not(:last-child) {
        margin-right: unset;
    }
    .articles .article-card-item .article-card-item-img {
        height: 216px;
        overflow: hidden;
    }
    .articles .article-card-item-img img {
        min-width: 100%;
        min-height: 216px;
    }
    .articles .article-card-item .article-card-item-text {
        margin-bottom: unset;
        width: 100%;
        height: 277px;
    }
    .articles .article-card-item-text h4.article-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
    }
    .articles a.btn.more-articles {
        padding: 14px 24px;
        font-size: 14px;
        line-height: 140%;
    }
    .articles-indicators {
        padding: 24px;
        justify-content: center;
    }
    .articles-indicators .indicator {
        display: inline-block;
        margin-right: 8px;
        width: 56px;
        height: 4px;
        background: #DDDEDF;
        border-radius: 999px;
    }
    .articles-indicators .indicator.active {
        background: #0A41DE;
    }
    .subscribe {
        padding: 0;
    }
    .business,
    .subscribe .subscribe-container {
        background-image: url('../img/subscribe-bg-m.png');
        background-size: cover;
        border-radius: 0;
    }
    .business {
        background-image: url('../img/business-bg-m.jpg');
    }
    .subscribe .section-header {
        background: unset;
        padding: 44px 48px;
    }
    .subscribe .section-header h2,
    .subscribe .section-header p {
        width: 100%;
    }
    .subscribe .section-header p {
        margin-bottom: 20px;
    }
    .subscribe .section-header a.btn-secondary {
        width: 100%;
        padding: 14px 24px;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
    }
    /* 
     * end landing page
    */
    /* 
     * projects page
    */
    section.projects {
        padding: 0 0 24px;
    }
    .projects .project-row {
        flex-direction: column;
        padding: 40px 24px;
    }
    .project-row .project-image {
        max-width: 100%;
    }
    .project-image img {
        margin: auto;
        width: 588px;
    }
    .project-row .project-text,
    .project-row.left-text .project-text {
        order: 2;
        max-width: 100%;
        margin: 0;
    }
    .project-text .project-text-container {
        padding: 24px 8px;
    }
    .projects .more-projects {
        margin-top: 16px;
    }
    .projects .more-projects .btn {
        padding: 14px 24px;
        font-size: 14px;
        line-height: 140%;
    }
    /* 
     * end projects page
    */
    /* 
     * contact page
    */
    section.contact {
        width: 100%;
        height: 1270px;
    }
    .contact .contact-row {
        flex-direction: column;
        padding: 24px;
    }
    .contact-row #contact-form,
    .contact-row .contact-info {
        width: 100%;
        padding: 40px 24px;
    }
    .contact-row #contact-form {
        margin-right: unset;
        margin-bottom: 48px;
    }
    #contact-form input,
    #contact-form textarea {
        padding: 18px 24px;
        font-size: 14px;
        line-height: 140%;
    }
    #contact-form input[type="submit"] {
        width: 144px;
        height: 48px;
        padding: 12px 24px;
        font-size: 14px;
        line-height: 140%;
    }
    .contact-info .contact-info-row {
        margin-bottom: 20px;
        padding-left: 0;
    }
    .contact-info .btn {
        height: 48px;
    }
    /* 
     * end contact page
    */
    /* 
 * terms page
*/
    section.legal {
        max-width: 1440px;
        padding: 45.5px 24px 156px;
    }
    section.legal h1 {
        margin-bottom: 45.5px;
        font-weight: 900;
        font-size: 24px;
    }
    /* 
     * end terms page
    */
    /*
     * footer
    */
    footer .footer-container {
        padding: 60px 24px 24px;
    }
    footer .footer-row {
        flex-wrap: wrap;
    }
    footer .footer-col {
        margin-bottom: 24px;
        width: 175px;
        padding: 0;
    }
    footer .footer-col li {
        line-height: 20px;
    }
    footer .footer-about {
        margin: 16px 0 40px;
        order: 4;
        width: 100%;
    }
    footer .logo {
        width: 175.81px;
        height: auto;
    }
    footer .footer-about p {
        width: 100%;
    }
    /*
     * end footer
    */
    /*
     * subscription popup
     */
    .modal {
        z-index: 99;
        padding: 0;
    }
    .modal.subscription-popup-container {
        padding: 0 24px;
    }
    .subscription-popup-content {
        flex-direction: column;
    }
    .subscription-popup-image,
    .subscription-popup-image img {
        max-width: 100%;
        max-height: 366px;
    }
    .subscription-popup-body {
        padding: 56px 40px;
    }
    .subscription-popup-body p {
        max-width: 100%;
    }
    .subscription-popup-body .btn {
        padding: 14px 24px;
    }
    .subscription-form-content {
        width: auto;
    }
    .subscription-form-content .subscription-header {
        padding: 48px;
        background-image: url('../img/subscription-header-bg-m.png');
    }
    .modal h1 {
        font-weight: 900;
        font-size: 24px;
    }
    .subscription-header .close-btn {
        width: 32px;
        height: 32px;
        padding: 8px;
    }
    .subscription-form-content .subscription-body {
        padding: 48px 24px;
    }
    input,
    select {
        height: 56px;
        padding: 18px 24px;
    }
    select {
        background-position: calc(100% - 20px) 18px;
    }
    input[type="submit"] {
        padding: 18px;
    }
    /*
     * end subscription popup
     */
}